##################################
##### Todo lo que ignora GIT  ####
##################################

#
ficheros genereados de forma automatica


/build/



#carpeta media con videos

/WebContent/media/



#Configuracion Eclipse

/.settings/

/.classpath

/.project