/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150610
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/* 

   ETIQUETAS 
   dar un estilo general o base a toda la Web	

*/

body{
	font-size: 16px; /*Valor de unidad em*/
}

#container{
	width:300px;
	min-height: 400px;
	border:1px solid black;
	margin:0 auto; /* para centrarlo*/
}

h2{
	font-size:20px;
}

#span_dia{
	float:left;
	margin-left:25px;
}

#lista_dias{
	float:left;
	margin-left:10px;
}

#span_edad{
	float:left;
	margin-left:20px;
}

#caja_edad{
	float:left;
	margin-left:10px;
	height: 14px;
}

#calcular_entrada{
	width:300px;
	height:400px;
	background-image: url('../img/entrada_cine.jpg');
}

#calcular_entrada header{
	position: relative; /*De su posición original la movemos con height y width*/ 
	height:50px;
	width: 100%;
	padding-top: 20px;
}

	#calcular_entrada header h1{
		font-size: 25px;
		color: #72b8c6;
		font-family: 'Rum Raisin';
		text-align: center;
		}

@font-face {
    font-family: 'Rum Raisin';
    src: url(http://fonts.googleapis.com/css?family=Rum+Raisin);
}

#calcular_entrada {
  /* Quiero posicionar la sección footer de manera absoluta,
  	 para ello coge la referencia de su contenedor/padre inmediato
  	 si NO es posicion:static; (por defecto); espor ésto por lo
  	 que lo ponemos absolute  
  */
  position: absolute;
}

#calcular_entrada #selectores{
	height:100px;
	width: 100%;
}

#calcular_entrada footer{
	position: absolute;
	padding: 6%;
	width=:90%;
	bottom: 0;
	color: #FFF;
	font-size: 1.4em; /*Relativas al font-size de body*/
	font-family: Arial;
}

	#calcular_entrada footer #precio{
		font-size: 3em; /*Relativas al font-size de body*/
		right: 20px;
		bottom: 10px;
		font-weight: 600;
	}	


