/*   
	version:  1.0
	author:   Ander Uraga Real
	date: 	  20150610
		
*/

/* 
   RESET    
   Resetear todos los estilos para cualquier navegador
*/
@import url("reset.css");

/***************************** 
      ClearFix
*******************************/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* 

   ETIQUETAS 
   dar un estilo general o base a toda la Web	

*/

h1{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 10px 0 20px;
}

#container{
	width:300px;
	height:auto;
	border:1px solid black;
}

#span_dia{
	float:left;
	margin-left:20px;
}

#caja_dia{
	
	margin-left:10px;
}

#span_edad{
	float:left;
	margin-right: auto;
}

#caja_edad{
	float:left;
	margin-left:10px;
	margin-right:20px;
}






